<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @question] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :category %>
      <%= f.select :category_id, 
        options_from_collection_for_select(@categories,
        "id", "name", params[:category_id]) %><br>
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>
      <div class="my-answer">
        <%= f.fields_for :answers do |builder| %>
          <%= render 'answer', f: builder %>
        <% end %>
      </div>
      
      <p><%= link_to_add_fields I18n.t("button.answer"), f, :answers %></p>

      <%= f.submit I18n.t("button.submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
