<%= provide :title, 'Result' %>

<h1><span><%= @exam.category.name %></span> Result 
<span><%= @exam.score %>/<%= @exam.results.count %></span></h1>

<div class="container">
  <div class="row mixed">
    <div class="col-md-3"><b><%= I18n.t "title.result" %></b></div>
    <div class="col-md-3"><b><%= I18n.t "title.question" %></b></div>
    <div class="col-md-3"><b><%= I18n.t "title.your_chosen" %></b></div>
    <div class="col-md-3"><b><%= I18n.t "title.answer" %></b></div>
  </div>
  <br>
  <% @exam.results.each do |result| %>
    <div class="row">
      <div class="col-md-3">
        <% if result.answer == result.answers.correct.first %>
          <span class="glyphicon glyphicon-ok"></span>
        <% else %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
      <div class="col-md-3"><%= result.question.content %></div>
      <div class="col-md-3">
        <% if result.answer.nil? %>
            <span>.Nil.</span>
        <% else %>
          <%= result.answer.content %>
        <% end %>
      </div>
      <div class="col-md-3"><%= result.answers.correct.first.content %></div>
    </div>
  <% end %>
</div>
